
body{
     text-align: center;
}
div{
    position: relative;
    margin: auto;
    text-align: center;
}
table{
    margin:auto;
}
table tr:nth-child(odd) {
    background: #E5E5E5;
}
table tr:hover {
    background: #ccc;
    border: 1px solid #B71234;
}
.header td{
    font-weight: bold;
}
table tr td{
    text-align: center;
}
.logo{
    width: 50%;
    height: auto;
    margin-left: 0;
    margin-right: 0;
    padding: 0;
}
